In [26]:
var01 = 3
var02 = 4
def calculater(var01, var02):
  print("덧셈 : " ,(var01 + var02))
  print("뺄셈 : " ,(var01 - var02))
  print("곱셈 : " ,(var01 * var02))
  print("실수 나눗셈 : " ,(var01 / var02))
  print("정수 나눗셈 몫 : " ,(var01 // var02))
  print("정수 나눗셈 나머지 : " ,(var01 % var02))
  print("제곱 : " ,(var01 ** 2))
  print("제곱 : " ,(pow(var01, 2)))

In [27]:
calculater(var01, var02)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  9
제곱 :  9

### 파이썬 모듈을 이용한 수학계산

In [29]:
import math

In [30]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [31]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [32]:
# sin 45도
math.sin(45)

0.8509035245341184

In [33]:
# sin 45 ^ 2 + cos 45 ^ 2
math.sin(45) ** 2 + math.cos(45) ** 2

1.0

# 난수발생

In [34]:
# 난수발생 모듈 불러오기
import random

In [45]:
random.randint(1, 100) # 1~100 중 난수 1개 발생

33

In [52]:
lotto_list = range(1,46)

In [59]:
random.sample(lotto_list, 6)

[26, 39, 22, 37, 25, 9]

In [62]:
# 반올림

print(round(123.456, 1))
print(round(123.456, 2))

123.5
123.46

In [64]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [66]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [67]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_30',
 '_31',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_48',
 '_49',
 '_51',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'calculater',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [68]:
var01

3

In [69]:
# 메모리에 있는 변수 제거

del var01

### 관계 연산자

In [71]:
num1 = 100
num2 = 20

In [74]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 >= num2)

False
True
True
False
False
True

### 논리 연산자

In [78]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [82]:
# 부정 연산자
not(num1 >= 50)

False

In [84]:
# OS 명령어 사용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
=

In [85]:
# 문자열
var01 = "Hello world!"
var01

'Hello world!'

In [86]:
var01 = """
  Hellow World!
  12345
  대한민국
"""
print(var01)

  Hellow World1
  12345
  대한민국

In [89]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = "He says 'I love you'"

print(var01)
print(var02)

My father's wife is my mother.
He says 'I love you'

In [91]:
# 문자열 연산(덧셈)
var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [92]:
# 문자열 연산(곱셈)
print(var01*3)

PythonPythonPython

In [93]:
print("=" * 20)
print("python")
print("=" * 20)

====================
python
====================

In [104]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0] + str[1] + str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [111]:
str = "20221229Snow"
year = str[0:4]
day = str[4:8]
weather = str[-4:]

print(year, day, weather)

2022 1229 Snow

In [112]:
str = "abbde"

# abcde
str[0:2] + "c" + str[-2:]

'abcde'

### 문자열 formatting

In [122]:
print("I have %d apples"%2)
print("I have %s apples"%"two")

I have 2 apples
I have two apples

In [125]:
number = 2
fruit = "apples"
print("I have %02d %s"%(number, fruit))

I have 02 apples

In [127]:
# 문자열 정렬
print("I have 2 %10s"%"apples")
print("I have 2 %-10s"%"apples")

I have 2     apples
I have 2 apples

In [130]:
print("%0.4f"%3.14159)
print("%010.4f"%3.14159)

3.1416
00003.1416

### 문자열 관련 함수

In [134]:
# 문자 Count
str = "I have a dream."
print(str.count("a"))
print(len(str))

3
15

In [143]:
# 문자 위치 알려주기
print(str.find("e"))
print(str.find("x"))
print(str.find("a"))

5
-1
3

In [144]:
str[str.find("e")]

'e'

In [147]:
# 문자열 삽입
str = ","
str.join("abcde")

'a,b,c,d,e'

In [148]:
# 소문자를 대문자로
str = "hi"
str.upper()

'HI'

In [149]:
# 대문자를 소문자로
str = "HI"
str.lower()

'hi'

In [151]:
# 공백지우기
str = "      hi"
str.lstrip()

'hi'

In [152]:
str = "hi   "
str.rstrip()

'hi'

In [153]:
str = "      hi   "
str.strip()

'hi'

In [154]:
# 문자열 바꾸기
str = "Life is too short to be happy"
str.replace("happy", "unhappy")

'Life is too short to be unhappy'

In [158]:
# 문자열 나누기
str01 = "Life is too short to be happy"
list01 = str01.split()
type(str01)
type(list01)

list

In [159]:
len(list01)

7

In [160]:
str02 = "a:b:c:d"
str02.split(":")

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [161]:
# 숫자 바로 대입하기
"I have {0} apples".format(3)

'I have 3 apples'

In [162]:
"I have {0} apples".format("three")

'I have three apples'

In [163]:
number = 10
day = "three"
"I have {} apples, I will go abord for {} days".format(number, day)

'I have 10 apples, I will go abord for three days'

In [164]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [165]:
# 오른쪽 정렬
"{:>10}".format("hi")

'        hi'

In [166]:
# 가운데 정렬
"{:^10}".format("hi")

'    hi    '

In [168]:
# 공백 채우기
"{:=^10}".format("hi")

'====hi===='

In [169]:
# f문자열 formatting(python 3.6 이상에서만 사용 가능)

name = "홍길동"
age = 30
f"나의 이름은 {name}이고 나이는 {age}세 입니다."

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [170]:
f"나는 내년이면 {age + 1}살 입니다."

'나는 내년이면 31살 입니다.'

# 날짜형 변환

In [171]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [173]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [184]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:31.651401
186 days, 4:46:28.348599

In [224]:
# 좀 더 편리하게 출력
print((time1 - time2).days, "일")
print((time1 - time2).seconds, "초")

186 일
17188 초

In [228]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [231]:
# 특정 날짜로 부터 시간 계산
time2 + timedelta(days=-3)

datetime.datetime(2022, 6, 19, 16, 13, 31, 651401)

In [234]:
print(time2 + timedelta(days = 1, hours = -2))

2022-06-23 14:13:31.651401